{% extends 'base.html' %} 

{% block title %}Car Speed Estimation{% endblock %} 

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header bg-danger text-white">
          <h1 class="text-center">Car Speed Estimation</h1>
        </div>
        <div class="card-body">
          <form method="POST" action="{{ url_for('video_feed') }}" class="mb-4">
            <div class="mb-3">
              <label for="video-select" class="form-label">Select Video:</label>
              <select id="video-select" name="video" class="form-select">
                <option value="Footage.mp4">Footage</option>
                <option value="Footage1.mp4">Footage 1</option>
                <option value="Footage2.mp4">Footage 2</option>
                <!-- Add more options for each video file -->
              </select>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-danger">Start</button>
            </div>
          </form>
          <div id="video-container">
            <img id="video" src="{{ url_for('video_feed') }}" alt="Video Stream" class="img-fluid" />
          </div>
          <div id="output" class="text-center mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    var outputDiv = $("#output");

    function updateOutput(speed) {
      outputDiv.text("Estimated Speed: " + speed + " km/hr");
    }

    var source = new EventSource("/video_feed");
    source.addEventListener("message", function (event) {
      var img = $("#video");
      img.attr("src", "data:image/jpeg;base64," + event.data);

      if (event.lastEventId) {
        updateOutput(event.lastEventId);
      }
    });
  });
</script>
{% endblock %}